<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <table>
        <tr>
            <th>
                <p style="color: #000; font-size: 45px; font-weight: bold;">The Jitu project Management System</p>
            </th>
        </tr>
        <tr>
            <td>
                <p style="font-size: 30px;">Hello, <%=email%></p>
                <p style="font-size: 35px; ">Wecome to The Jitu project management system</p>
                <p style="color:black; font-size:30px; margin: 10px 2px">
                    We are glad you were successful in joining the jitu fraternity. Welcome aboard.
                </p>
            </td>
        </tr>
    </table>
</body>
</html>